body {
    background: #000 url("/img/index-bg.jpg")no-repeat;
    color: #fff;
    font-family: "PT Sans Narrow" , sans-serif; 
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

figure,
ul,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

input,
button {
    border: none;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
/*btn*/
.btn {
  width: 140px;
  height: 45px;
  background-color: #000;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  
}
a.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

            /*----header----*/

.header-main {
    background: #000;
    margin-bottom: 57px;
}

.header-main > .container {
    display: flex;
}

.nav-main {
    margin-right: 140px;
}

.nav-main > ul {
    display: flex;
    width: 640px;
    font-weight: bold;
    line-height: 20px;
    padding: 28px 0;
    
}

.nav-main > ul > li:not(:last-child) {
    margin-right: 45px;
}

.user-block {
    width: 160px;
    text-align: right;
    font-weight: bold;
    line-height: 20px;
    padding: 28px 0;
}

.login {
    padding-right: 20px;
    
}

.login::before {
    position: relative;
    top: 3px;
    left: -10px;
    content: '';
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url(../img/icon-login.png)no-repeat;
    opacity: 0.3;
}


                /*----main----*/
main {}

.index-logo {
    text-align: center;
    margin-bottom: 30px;
}

.index-logo > img {
    width: 368px;
    height: 204px;
}

/*section features*/
.features {
    display: flex;
    justify-content:space-between;
    margin-bottom: 80px;
}

.features-item {
    width:300px;
    text-align: center;
}

.features-name {
    display: block;
    
    font-size: 30px;
    color: #f7f4f1;
    font-weight: bold;
    line-height: 1;
    text-transform:uppercase;
}

.features-name::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #f7f4f1;
    transform: rotate(45deg);
}

.features-item > p {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

/*index-content*/
.index-content {
    display: flex;
    padding: 50px 80px;
    color: #000;
    background: #fff url(../img/Layer%2010%20cop.jpg);
}

.index-content-left {
    position: relative;
    width: 330px;
    margin-right: 150px;
}

.index-content-left::after {
    position: absolute;
    top: 20px;; 
    left: 390px;
    content: '';
    display:block;
    height: 278px;
    width: 8px;
    background: url(../img/index-line.png)no-repeat;
}

.index-content-right {
    
    width: 300px;
}

.index-content p  {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
   
}

.index-content a  {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.index-content-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
}

.news-preview > li {
     margin-bottom: 30px;
}

.index-content time {
    text-transform: none;
}

/*index-content gallery*/
.gallery figure {
    border: 7px solid #fff;
    margin-bottom: 35px;
}

.gallery-prev{
    margin-left: -2px;
    margin-right: 18px;
  
}

.index-btn-block {
    display: flex;
    margin-top: 40px;
}

.index-btn-block a:first-child{
    margin-right: 20px;
}
